
<div class="container">
<div class="well">
  <div data-ng-show="aData.message" class="alert alert-danger">
    {{aData.message}}
  </div>
<h1>Create Room</h1>
<form data-ng-submit="aData.createRoom()">
  <div class="form-group"> <!-- Name field -->
    <input class="form-control" type="text" placeholder="Name" data-ng-model="aData.newRoom.name"/>
  </div>
	
  <div class="form-group"> <!-- Description field -->
    <textarea class="form-control" placeholder="Description" data-ng-model="aData.newRoom.description"></textarea>
  </div>
	
  <div class="form-group"> <!-- Submit button -->
    <button class="btn btn-primary" type="submit">Create</button>
  </div>	

</form>
</div>
</div>

<div class="row">
<div class="col-xs-4">
  <div class="well">
    <div class="noticeMeText" style="text-align: center;">
      Filter
    </div>
    <form data-ng-submit="aData.addRoomNameToFilter()">
      <input data-ng-model="aData.newRoomNameToFilter" type="text" class="form-control" placeholder="Room Name" required uib-typeahead="room.name for room in aData.getRoomsWithRoomNameLike($viewValue) | limitTo:5" typeahead-loading="loadingRoomNames" typeahead-no-results="noRoomNameResults" typeahead-focus-first="false"/>
      <i ng-show="loadingRoomNames" class="glyphicon glyphicon-refresh"></i>
      <div ng-show="noRoomNameResults">
        <i class="glyphicon glyphicon-remove"></i> No Results Found
      </div>
    </form>
    <form data-ng-submit="aData.addOwnerToFilter()">
      <input data-ng-model="aData.newOwnerToFilter" type="text" class="form-control" placeholder="Owner" required uib-typeahead="user.username for user in aData.getUsersWithUsernameLike($viewValue) | limitTo:5" typeahead-loading="loadingUsernames" typeahead-no-results="noUsernameResults" typeahead-focus-first="false" typeahead-template-url="ng/templates/typeahead/users.html"/>
      <i ng-show="loadingUsernames" class="glyphicon glyphicon-refresh"></i>
      <div ng-show="noUsernameResults">
        <i class="glyphicon glyphicon-remove"></i> No Results Found
      </div>
    </form>
    <form data-ng-submit="aData.addCategoryToFilter()">
      <input data-ng-model="aData.newCategoryToFilter" type="text" class="form-control" placeholder="Add Category" required uib-typeahead="cat.categoryName for cat in aData.getCategoriesWithNameLike($viewValue) | limitTo:5" typeahead-loading="loadingCategories" typeahead-no-results="noCategoryResults" typeahead-focus-first="false"/>
      <i ng-show="loadingCategories" class="glyphicon glyphicon-refresh"></i>
      <div ng-show="noCategoryResults">
        <i class="glyphicon glyphicon-remove"></i> No Results Found
      </div>
    </form>
    
    <hr class="awesomeHr"/>
    
    <div data-ng-show="aData.roomFilter.roomName">
      Room Name : {{aData.roomFilter.roomName}}
      <button data-ng-click="aData.removeRoomNameFromFilter()" class="btn btn-danger btn-xs" type="button">
        <span class="glyphicon glyphicon-remove"></span>
      </button>
    </div>
    <div data-ng-show="aData.roomFilter.ownerUsername">
      Owner : {{aData.roomFilter.ownerUsername}}
      <button data-ng-click="aData.removeOwnerFromFilter()" class="btn btn-danger btn-xs" type="button">
        <span class="glyphicon glyphicon-remove"></span>
      </button>
    </div>
    <div data-ng-repeat="cat in aData.roomFilter.categories" style="display: inline;">
      <div class="btn-group" style="margin-top: 5px;">
        <div class="btn btn-primary btn-xs">
          {{cat}}
        </div>
        <div data-ng-click="aData.removeCategoryFromFilter(cat)" class="btn btn-danger btn-xs">
          <span class="glyphicon glyphicon-remove"></span>
        </div>
      </div>        
    </div>
    
  </div>
</div>
<div class="col-xs-8">
  <forum-view-room-list room-list="aData.currentRooms"
  						last-page-accessed="aData.lastRoomPage"
  						ready-for-more-rooms="aData.readyForMoreRooms"
  						auth-user="aData.authUser"
						load-more-rooms="aData.loadMoreRooms()"
  						view-room="aData.viewRoom(roomName)"
  						close-room="aData.closeRoom(room)"
  						reopen-room="aData.reopenRoom(room)"
  						>
  </forum-view-room-list>

</div>
</div>