<div class="well">
  <data-forum-room room="rData.currentRoom" username="rData.authUser.name" closefn="rData.closeRoom(roomName)"></data-forum-room>
</div>

<div class="well" data-ng-hide="rData.currentRoom.closed">
<div class="page-header">
	<h3>Post Message</h3>
</div>
<form data-ng-submit="rData.postMessage()">
	<div class="form-group">
	  <label for="message">Message:</label>
	  <textarea class="form-control" rows="5" id="message" data-ng-model="rData.newMessage"></textarea>
	</div>
	<div class="form-group"> <!-- Post Message button -->
		<button class="btn btn-primary" type="submit">Post Message</button>
	</div>	
</form>
</div>

<div class="well">
<div class="page-header">
	<h3>Messages</h3>
</div>
<table class="table table-responsive table-hover">
  <tr>
    <th>Message</th>
    <th>Owner</th>
    <th>Created</th>
    <th># Likes</th>
  </tr>
  <tr data-ng-repeat="msg in rData.currentMessages">
    <td>{{msg.message}}</td>
    <td>{{msg.owner.username}}</td>
    <td>{{msg.created | date : "short"}}</td>
    <td>
      <span class="badge">{{msg.numLikes}}</span>
      <div data-ng-hide="msg.authUserMessage.userLikesMessage" data-ng-click="rData.likeMessage(msg, true)" class="likeBtn clickable pull-right" uib-popover-template="'ng/templates/popovers/clickToLike.html'" popover-trigger="mouseenter">
        <span class="label label-primary">Like</span>
      </div>

      <div data-ng-show="msg.authUserMessage.userLikesMessage" data-ng-click="rData.likeMessage(msg, false)" class="likeBtn clickable pull-right" uib-popover-template="'ng/templates/popovers/clickToUnlike.html'" popover-trigger="mouseenter">
        <div class="label label-success">
          <span class="glyphicon glyphicon-heart"></span>
        </div>
      </div>

    </td>
  </tr>
</table>

<div data-ng-hide="rData.lastPageAccessed.last">
  <data-scroll-callback scroll-threshold="50" cb="rData.loadMoreMessages()" ready-for-more="rData.readyForMorePosts"></data-scroll-callback>
</div>

</div>
