  <!-- display info about message -->
  <div class="row">
  
	<div class="col-xs-2">
	  <div data-ng-hide="msg.authUserMessage.userLikesMessage" data-ng-click="likeMessage({msg:msg, userLikesMessage:true})" class="likeBtn clickable" uib-popover-template="'ng/templates/popovers/clickToLike.html'" popover-trigger="mouseenter">
	    <span class="label label-primary">Like</span>
	  </div>
	  <div data-ng-show="msg.authUserMessage.userLikesMessage" data-ng-click="likeMessage({message:msg, userLikesMessage:false})" class="likeBtn clickable" uib-popover-template="'ng/templates/popovers/clickToUnlike.html'" popover-trigger="mouseenter">
		<div class="label label-success">
		  <span class="glyphicon glyphicon-heart"></span>
		</div>
	  </div>
	  <span class="badge" uib-popover-template="'ng/templates/popovers/likesList.html'" popover-trigger="mouseenter">{{msg.numLikes}}</span>
	</div>

	<div class="col-xs-4 limitedText">
	  <img gravatar-src="msg.owner.email" gravatar-size="25" class="img-circle img-responsive" style="display: inline;">
	  <span class="noticeMeText">
		{{msg.owner.username}}
	  </span>
	</div>

	<div class="col-xs-4">
	  <span class="pull-right">
		{{msg.created | date : "short"}}
	  </span>
	</div>

	<div class="col-xs-2">
	  <div class="btn-group pull-right">
		<button data-ng-click="" class="btn btn-xs btn-success" type="button">Edit</button>
		<button data-ng-click="" class="btn btn-xs btn-danger" type="button">Delete</button>
	  </div>	
	</div>
	  
  </div> <!-- end row -->

  <!-- display message -->
  <div class="jumbotron">
	<div class="row">
	  <div class="col-xs-12">
	    <span data-ng-bind-html="msg.message"></span>
	  </div>
	</div>
  </div>