<div class="forumRoom">
  <div class="page-header">
    <h2>{{room.name}}</h2>
  </div>
  <table class="table table-responsive">
    <tbody>
      <tr>
        <td><span class="label label-info">Owner</span></td>
        <td>{{room.owner.username}}</td>
      </tr>
      <tr>
        <td><span class="label label-info">Created</span></td>
        <td>{{room.created | date}}</td>
      </tr>
      <tr data-ng-show="room.closed">
        <td><span class="label label-info">Closed</span></td>
        <td>{{room.closed | date}}</td>
      </tr>
      <tr>
        <td><span class="label label-info">Description</span></td>
        <td>{{room.description}}</td>
      </tr>
      <tr>
        <td><span class="label label-info">Status</span></td>
        <td>
          {{room.closed ? 'CLOSED' : 'OPEN'}}
          <div class="label label-danger clickable" data-ng-if="username == room.owner.username && !room.closed" data-ng-click="closefn({roomName:room.name})" uib-popover-template="'ng/templates/popovers/clickToCloseRoom.html'" popover-trigger="mouseenter">
      	    Close
          </div>

        </td>
      </tr>
      
    </tbody>
  </table>   
</div>