<table class="table table-responsive table-hover">
  <tr>
    <th>Message!!!!!!!</th>
    <th>Owner</th>
    <th>Created</th>
    <th># Likes</th>
  </tr>
  <tr data-ng-repeat="msg in messages">
    <td>
      <span data-ng-bind-html="msg.message"></span>
    </td>
    <td>{{msg.owner.username}}</td>
    <td>{{msg.created | date : "short"}}</td>
    <td>
      <span class="badge">{{msg.numLikes}}</span>
      <div data-ng-hide="msg.authUserMessage.userLikesMessage" data-ng-click="likeMessage({message:msg, userLikesMessage:true})" class="likeBtn clickable pull-right" uib-popover-template="'ng/templates/popovers/clickToLike.html'" popover-trigger="mouseenter">
        <span class="label label-primary">Like</span>
      </div>

      <div data-ng-show="msg.authUserMessage.userLikesMessage" data-ng-click="likeMessage({message:msg, userLikesMessage:false})" class="likeBtn clickable pull-right" uib-popover-template="'ng/templates/popovers/clickToUnlike.html'" popover-trigger="mouseenter">
        <div class="label label-success">
          <span class="glyphicon glyphicon-heart"></span>
        </div>
      </div>

    </td>
  </tr>
</table>

<div data-ng-hide="lastPageAccessed.last">
  <data-scroll-callback scroll-threshold="50" cb="loadMoreMessages()" ready-for-more="readyForMorePosts"></data-scroll-callback>
</div>