<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">{{uData.authUser.username}}</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="ng/img/duke.png" class="img-circle img-responsive"> </div>
        <div class=" col-md-9 col-lg-9 "> 
          <table class="table table-responsive">
            <tbody>
              <tr>
                <td>Email</td>
                <td>{{uData.authUser.email}}</td>
              </tr>
            </tbody>
          </table>
          <button data-ng-click="uData.update()" class="btn btn-primary">Update</button>
          <button data-ng-click="uData.cancel()" class="btn btn-danger">Cancel</button>
        </div>
    </div>
  </div>
</div>